<% if active_scaffold_config.list.pagination -%>
<div class="active-scaffold-footer">
<% unless active_scaffold_config.list.pagination == :infinite -%>
  <div class="active-scaffold-found"><span class="active-scaffold-records"><%= @records.total_count -%></span> <%=as_(:found, :count => @records.total_count) %></div>
<% end -%>
  <%= paginate @records, :window => active_scaffold_config.list.page_links_window, :params => params_for(:action => :index), :remote => true %>
</div>
<% end -%>
